
.carosel-image{
    width:1000px;
    height: 50%;
    margin: 10px;
}
.partlogin{
    margin: auto;
    display: flex;
    justify-content: center;
}
.main-div{
    text-align: -webkit-center;
}
.image{
    height: 1000px;
}
.carosel-caption{
    background-image: url(https://static1.squarespace.com/static/56eddde762cd9413e151ac92/570cb87b5bd33022b93a0272/5c75317bf9619a3ee9e52e0f/1551355289624/DNA.jpg?format=1500w) !important;
    background-repeat: no-repeat;
    background-size: cover;
}
