.header{  
    color: #fff;
    top: 0%;
    font-size: larger;
    font-family: "Times New Roman", Times, serif;
    background-color: #314152;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 1000px;
}
.contentpart{
    text-align: center;
    font-size: 3rem;
}
.partlogin{
    margin: auto;
    display: flex;
    justify-content: center;
}