.body-content{
    background-image: url(https://www.idg.se/editorial/0/path/1.695291.1513863403!imageUploader/1894624733.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
}